<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context/
http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.zensar.bean.Circle" id="circleBean">
		<property name="size" value="10"></property>
	</bean>
	<bean class="com.zensar.bean.Square" id="squareBean">
		<property name="size" value="20"></property>
	</bean>
	<bean class="com.zensar.bean.Square" id="shapeBean">
		<property name="size" value="30"></property>
	</bean>

</beans>